<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Online Survey - Startseite</title>
</head>
<!-- Startseite der Anwendung -->
<body>
<div layout:fragment="content">
    <div class="page-header">
    </div>

    <div class="container">
        <div class="row">
                <div class="col-sm-6 float-right">
                    <h2>Herzlich Willkommen bei A&T Online Survey</h2>
                    <p>Dieses Online-Umfragetool bietet Ihnen Möglichkeiten, Umfragen online zu erstellen:</p>
                    <li>eine Umfrage mit einem Titel und einer Beschreibung anlegen sowie bearbeiten</li>
                    <li>Fragen zur Umfrage hinzufügen und bearbeiten</li>
                    <li>Antwortmöglichkeiten hinzufügen und bearbeiten</li>
                    <br><p>Außerdem können Sie:</p>
                    <!-- <li>an Umfragen teilnehmen</li>
                    <li>sich Auswertungen über die Umfragen ansehen</li> nicht mehr in den Anforderungen durch die Einschränkung-->
                    <li>Umfragen freischalten sowie sperren</li>
                    <br><p>Wir wünschen Ihnen Viel Spaß!</p>
                </div>
                <div class="col-sm-6">
                    <img src="/img/logo.png" class="float-left">
                </div>
            </div>
    </div>
</div>
</body>
</html>
